@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-inline-size: 100%;
}

body {

    font-family: "Red Hat Display", sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: white;
    border-radius: 20px;
    inline-size: 400px;
    overflow: hidden;
    
}

.illustration img {
    inline-size: 100%;
}

.text-content {
    padding: 30px;
    text-align: center;
}

.text-content h1 {
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.text-content p {
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
}

.plan-section {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 20px;


}

.plan-section .plan-left {
    display: flex;
    gap: 10px;
    font-size: 8px;
}

.plan-text {
    font-size: 5px;
}

}

