@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-inline-size: 100%;
}

body {

    font-family: "Red Hat Display", sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: white;
    border-radius: 20px;
    inline-size: 400px;
    overflow: hidden;

}

.illustration img {
    inline-size: 100%;
}

.text-content {
    padding: 40px;
    text-align: center;
}

.text-content h1 {
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.text-content p {
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
    font-size: 15px;
}

.plan-section {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    margin-bottom: 20px;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.plan-section .plan-left {
    display: flex;
    text-align: left;
   
}

.plan-left img {
    width: 40px;
    height: auto;
    object-fit: contain;
}

.plan-left div {
    color: hsl(223, 47%, 23%); 
    padding-left: 15px;
    padding-top: 20px;
    font-size: 8px;
}

.plan-left div p{
    font-size: 12px;
    padding-top: 3px;


}

.plan-right a {
    font-size: 12px;
    font-weight: bold;
    color: hsl(245, 75%, 52%);
}

.button {
    
}

.button .pay {
    text-decoration: none;
    background-color:hsl(245, 75%, 52%);
    color: white;
    display: block;
}